@use "_reset";
@use "_normalize";

$primary-color: white;
$bg: rgb(255, 0, 0);

.messages{
  margin-bottom: 20px;
  width: 440px;
  height: 50px;
  background-color: rgb(221, 221, 221);
  display: flex;
  align-items: center;
  justify-content: center;
}

.gameboards{
  display: flex;
  gap: 2rem;
}

.gameboard{
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  

  .block{
    width: 20px;
    height: 20px;
    background-color: aliceblue;
    outline: 1px solid gray;
  }
}

.ships{
  margin-top: 20px;
  width: 440px;
  height: 50px;
  background-color: yellow;

  display: flex;
  align-items: center;
  justify-content: center;

  & > div{
    height: 20px;
    margin: 15px;
  }
}

.destroyer {
  background-color: brown;

}

.submarine{
  background-color: pink;

}

.cruiser{
  background-color: red;

}

.battleship{
  background-color: green;
}
